<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >
    <div class="jumbotron">
        <center><h1>TOP Free Selling Apps On Play Store</h1>
            <a href="{% url 'scrape' %}" class="btn btn-success">Get The Apps </a>
        </form>
    </center>
    </div>
            <div class="row"> 
    {% for object in object_list %}
<div class="card border-0 col-md-4  " > 
                              <a href="{{object.url}}">
                    <img class="img-circle"  style=" padding: 100px ; border-radius: 40% ; background : #e8edff;" src= "{{object.image}}"> 
  
                        
                        <h3 class="card-title" style="text-align: center; color: black; font-size:20px;  ">{{object.title}}</h3></img> </a>
                         
                   
                </div> 
  {% endfor %}
</div>
</div>
    <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>